<p class="text_intro" style="margin: 0 0 20px;">Hi <%= @owner.first_name %>!</p>
<p><a href="<%= Rails.configuration.frontend_url %>/user/<%= @joiner.id %>"><%= @joiner.first_name %> <%= @joiner.last_name %></a> joined your <%= @from_object %>: <a href="<%= Rails.configuration.frontend_url %>/<%= @object.class.name.downcase%>/<%= @object.id %>"><%= @object.title %></a></p>