<p class="text_intro" style="margin: 0 0 20px;">Hi <%= @joiner.first_name %>!</p>
<p><a href="<%= Rails.configuration.frontend_url %>/user/<%= @owner.id %>"><%= @owner.first_name + " " + @owner.last_name %></a> has invited you to join the <%= @from_object %>: <%= @object.title %></p>
<a href="<%= Rails.configuration.frontend_url %>/<%= @object.class.name.downcase %>/<%= @object.id %>" style="text-decoration:none;color:white!important">
	<button class="cta_btn" style="background: #2A6BFD;width: fit-content;color: white;padding: 10px 20px;border-radius: 8px;cursor:pointer;border: none;font-size:15px;">
		Join now
	</button>
</a>